asgiref==3.8.1
certifi==2024.2.2
charset-normalizer==3.3.2
Django==5.0.4
django-rest==0.8.7
docutils==0.20.1
idna==3.6
Kivy==2.3.0
kivy-django==1.9.1
Kivy-examples==2.3.0
Kivy-Garden==0.1.5
pillow==10.3.0
Pygments==2.17.2
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.11.0
urllib3==2.2.1
